@font-face {
  font-family: 'Roboot';
  src: url('./Roboto-Black.ttf') format('ttf'),
       url('./Roboto-BlackItalic.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

.hello {
  color: red;
}

body {
  font-family: 'Roboot';
  /* background: url('./icon.jpg'); */
}